*{
    font-family: 'Josefin Sans';
}

.hero-section{
    width: 100%;
    height: 100vh;
}

.nav-link{
    color: black;
}

.logo-1{
    width: 148px;
   
}

.nav-link:hover{
    color: #742296;
}

.allnavzy{
    display: flex;
    gap: 30px;
}

.night-mode{
    position: relative;
    right: 70px;
    width: 44px;
}

h1{
    font-weight: bold;
}

/* Here our main code starts */

.image-1{
width: 180px;
height: 480px;
background-image: url(../Images/Rectangle\ 2.png);
background-position: center;
background-size: cover;
position: relative;
top: 50px;

}

.image-2{
    width: 180px;
    height: 480px;
    background-image: url(../Images/Rectangle\ 3.png);
    background-position: center;
    background-size: cover;
    }

    .image-3{
        width: 180px;
        height: 480px;
        background-image: url(../Images/Rectangle\ 4.png);
        background-position: center;
        background-size: cover;
        position: relative;
        top: 50px;
        }

        .image-4{
            width: 180px;
            height: 480px;
            background-image: url(../Images/Rectangle\ 5.png);
            background-position: center;
            background-size: cover;
            }

.cont-all-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.all-text-content{
    display: flex;
    flex-direction: column;  
    position: relative;
    top: 40px;
}

.buttons-all{
    display: flex;
    gap: 20px;
}

.cont-rect{
    display: flex;
    gap: 15px;
    position: relative;
    top: 10px;
    
}

.btn1{
    border: none;
    background-color: #742296;
    color: white;
    height: 40px;
    width: 140px;
}

.btn2{
    border: 6px solid #742296;
    background-color: white;
    color: black;
    height: 40px;
    width: 140px;
}

.play-button{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 3px;    
}

.tick-button{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 3px;
}



.play-items{
display: flex;
position: relative;
top: 30px;
gap: 10px;
}

.tick-items{
    display: flex;
    position: relative;
    top: 40px;
    gap: 10px;
    }

.purple-txt{
    color: #742296;
}

/* ABOUT TIGZOZO */

.about-tigzozo{
    width: 100%;
    height: 120vh;
    background-color: antiquewhite;
    padding: 120px;
}

.first-about-images{
    display: flex;
    gap: none;
}

.img-children{
    width: 280px;
    height: 300px;
}

.img-adults{
    width: 280px;
    height: 300px;
    position: relative;
    top: 90px;
}

.img-dances{
    width: 400px;
    height: 400px;
    background-image: url(../Images/dances.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
}

.dancediv{
    display: flex;
    flex-direction: column;
   gap: 10px;
}

.all-about-tiles{
display: flex;
position: relative;
left: 90px;

}

h5{
    font-weight: bold;
}

.youtube-play{
    width: 68px;
    height: 68px;
    display: flex;
    position: relative;
    top: 180px;
    left: 160px;
    opacity: 70%;
    cursor:  pointer;


}

.overlay-c{
    background-color: rgba(0, 0, 0, 0.519);
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.services-section{
    width: 100%;
    height: 100vh;
    padding: 120px;
}

.serv-rect-1{
    background-image: url(../Images/About1.png);
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.serv-rect-2{
    background-color: #742296;
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.serv-rect-3{
    background-image: url(../Images/About3.png);
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
}


.services-rectangles{
    display: flex;
    position: relative;
    
    gap: 20px;
}

.serv-rect-2 li{
    line-height: 45px;
    color: white;
}

.Happy-clients-section{
    width: 100%;
    height: 100vh;
}




