*{
    font-family: 'Josefin Sans';
}



.nav-link{
    color: black;
}

.logo-1{
    width: 148px;
   
}

.nav-link:hover{
    color: #742296;
}

.allnavzy{
    display: flex;
    gap: 30px;
}

.night-mode{
    position: relative;
    right: 70px;
    width: 44px;
}

h1{
    font-weight: bold;
}

/* Here our main code starts */

.image-1{
width: 180px;
height: 480px;
background-image: url(../Images/Rectangle\ 2.png);
background-position: center;
background-size: cover;
position: relative;
top: 50px;

}

.image-2{
    width: 180px;
    height: 480px;
    background-image: url(../Images/Rectangle\ 3.png);
    background-position: center;
    background-size: cover;
    }

    .image-3{
        width: 180px;
        height: 480px;
        background-image: url(../Images/Rectangle\ 4.png);
        background-position: center;
        background-size: cover;
        position: relative;
        top: 50px;
        }

        .image-4{
            width: 180px;
            height: 480px;
            background-image: url(../Images/Rectangle\ 5.png);
            background-position: center;
            background-size: cover;
            }

.cont-all-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

/* .all-text-content{
    display: flex;
    flex-direction: column;
    
} */

.buttons-all{
    display: flex;
    gap: 20px;
}

.cont-rect{
    display: flex;
    gap: 15px;
    
}

.btn1{
    border: none;
    background-color: #742296;
    color: white;
    height: 40px;
    width: 140px;
}

.btn2{
    border: 6px solid #742296;
    background-color: white;
    color: black;
    height: 40px;
    width: 140px;
}

.play-button{
    width: 32px;
}

.play-items{
display: flex;
position: relative;
top: 30px;
}

